.title {
  display: flex;
  align-items: center;
  color: black;
  gap: 5px;
}
.app-title{
  cursor: pointer;
}
.title h3 {
  font-weight: 500;
}

h3 {
  margin: 0;
}

.logo {
  color: hsl(210 40% 25%);
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background-color: hsl(0deg 0% 100% / 60%);
  border-bottom: 1px solid #e7e0e0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-img{
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.nav .icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav .icon-container .icon-name {
  font-size: 13px;
  color: #64748b;
  font-weight: 500;
  cursor: pointer;
}

.nav .icon-container .icon-name:hover {
  color: #000;
}

.tournament-actions{
  display: flex;
  align-items: center;
  gap: 35px;
}
.notifications{
  position: relative;
}

.notification-number{
  display: flex;
  position: absolute;
  right: -15px;
  top: -12px;
  background-color: red;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
