<mat-toolbar class="navegacion">
  <button mat-button class="app-logo-button" (click)="goHome()">
    <img src="../../../../assets/imgs/logo_gris.jpg" alt="Logo" class="app-logo">
  </button>

  <mat-menu #menu="matMenu">
    <ng-container *ngIf="tipoUsuario === 'ANONIMO'; else LogoutMenu">
      <button mat-menu-item class="mat-menu-item" (click)="login()">Iniciar Sesion</button>
      <button mat-menu-item class="mat-menu-item" (click)="register()">Registrarse</button>
    </ng-container>

    <ng-template #LogoutMenu>
      <button mat-menu-item class="mat-menu-item" (click)="goPerfil()">Ver Perfil</button>
      <button mat-menu-item class="mat-menu-item" (click)="logout()">Salir</button>
    </ng-template>
  </mat-menu>


    <button mat-button>Resultados</button>
    <button mat-button>Calendario</button>
    <button mat-button>Equipos</button>
    <button mat-button>Estadisticas</button>
    <button mat-button>Jugadores</button>

    <div class="search-bar">
      <button class="btn-buscar" *ngIf="!searching" (click)="startSearch()">
        <img src="../../../../assets/imgs/lupa2.png" alt="Buscar" class="buscar">
      </button>

      <div *ngIf="searching" class="search-options">
        <input class="input-buscar" (keyup)="onTyping()" (keyup.enter)="performSearch()" placeholder="Escribe tu búsqueda aquí" [(ngModel)]="searchQuery" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let result of searchResults$ | async" [value]="getValue(result)">
            {{ getContent(result) }}
          </mat-option>
        </mat-autocomplete>
        <select id="searchCategory" [(ngModel)]="selectedCategory" class="buscarOpc">
          <option value="usuarios">Usuarios</option>
          <option value="temporadas">Temporadas</option>
          <option value="ligas">Ligas</option>
          <option value="equipos">Equipos</option>
        </select>
      </div>
    </div>



  <div class="button-container">
    <button mat-button [matMenuTriggerFor]="menu" class="app-logo-button user-button">
      <img src="../../../../assets/imgs/user.png" alt="Icono de menú" class="user-logo">
    </button>
  </div>



</mat-toolbar>
