<div class="create-contest-container">

  <main class="main">

    <span class="btn-back"><mat-icon>chevron_left</mat-icon> Back</span>
    <header>
      <h1>
        {{ isReadOnly ? basicInformation.value.name : "Create tournament" }}
      </h1>
      <span *ngIf="!isReadOnly"> Set up your tournament details, add teams, and customize settings</span>
    </header>

    <app-stepper class="stepper" [(selected)]="stepperOption"></app-stepper>
    <div class="tournament-forms">
      <app-create-tournament-basic-information *ngIf="stepperOption === 1" [basicInformation]="basicInformation" />
      <app-create-tournament-select-teams *ngIf="stepperOption === 2" [selectTeams]="selectTeams"/>
      <app-button class="btn-continue" text="continue"/>
    </div>
  </main>
</div>

<!-- Tournament Types Explained
Single Elimination: Teams are immediately eliminated after one loss. Fast-paced and straightforward.

Double Elimination: Teams must lose twice to be eliminated. Gives teams a second chance.

Round Robin: Each team plays against every other team. Best for smaller tournaments where you want maximum participation.| -->
