.create-contest-container {
  height: 93%;
  padding: 15px 15px 0px 15px;
  display: flex;
  justify-content: center;
}

main {
  height: 100%;
  padding-bottom: 0;
  padding: 30px 30px 0px 30px;
  max-width: 768px;
  width: 100%;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

input,
select,textarea {
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  background: rgba(242, 241, 238, 0.6);
  cursor: text;
  border: none;
  background: none;
  display: block;
  resize: none;
  padding: 7px;
  outline-color: #3f7cff;
}

.form-field {
  display: flex;
  gap: 8px;
  padding-top: 1.5rem;
  align-items: baseline;
  padding-bottom: 1.5rem;
}

.form-field .input-wrapper input,
select {
  width: 100%;
}

.form-field .input-wrapper {
  flex-grow: 1;
}
label{
  width: 122px
}
.errors {
  min-height: 1.5rem;
  /* Adjust height to fit your small error messages */
}

.errors small {
  color: red;
  /* Set error color */
  font-size: 0.875rem;
  /* Optional: Define font size for consistency */
}

.container-form-fields {
  display: flex;
  gap: 8px;
  border-top: 0.5px solid #f1ebeb;
  flex-wrap: wrap;
}

.container-form-fields>* {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
}
.about-tournament,.rules{
  height: 80px;
  width: 100%;
}
.google-map-container{
  margin-top: 20px;
  display: flex;
  justify-content: end;
}
.save{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.save:hover {
  background-color: #45a049;
}
header{
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .form-field{
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .container-form-fields{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .input-wrapper{
    width: 100%
  }
  .container-form-fields{
    gap: 0
  }
  label{
    width: 100%;
  }
}
