.create-contest-container {
  height: 93%;
  display: flex;
  justify-content: center;
}

header {
  font-size: 20px;
  margin-top: 10px;
}

header h1 {
  font-size: 30px;
  font-weight:700;
  margin-bottom: 0;
}

header span {
  font-size: 14px;
  color: #64748b;

  font-weight: 400;
}
.btn-back {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 10px;
  padding: 10px;
  width: 100px;
}
.btn-back:hover {
  cursor: pointer;
  background-color: #f1f5f9;
  border-radius: 8px ;
}

main {
  height: 100%;
  padding: 0px 30px 30px 30px;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.tournament-forms{
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 24px;
}

.save {
  display: block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.save:hover {
  background-color: #45a049;
}
