<p>jugadores-partido works!</p>


  <header>
    <h2>Jugadores del Partido</h2>
    <h2>{{equipo1}} vs {{equipo2}}</h2>
  </header>

  <!-- tarjeta inicio -->

<!-- Tarjetas de jugadores disponibles en el partido -->
<!-- añade una validacion si jugadoresEnCancha = 5 no muestre mas esto: -->
<div *ngIf="jugadoresEnCancha.length < 5">

  <h2>Agregar Jugadores al Campo</h2>

  <div class="seleccionar-jugador">
    <mat-form-field>
      <mat-label>Jugadores</mat-label>
      <mat-select [(ngModel)]="jugadorSeleccionado">
        <mat-option *ngFor="let jugador of jugadoresEnBanca" [value]="jugador.jugador">{{ jugador.jugador }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="mensaje-estilo" *ngIf="mensajeJugadorCancha">{{ mensajeJugadorCancha }}</span> <!-- Muestra el mensaje si existe -->
    <button (click)="posicionarEnCancha(jugadorSeleccionado)">Agregar Jugador</button>
  </div>

</div>

  <!-- tarejta fin -->
  <div *ngIf="jugadoresEnCancha.length != 0">

    <h2>Jugadores en el Campo</h2>
    <!-- recorre el arreglo de jugadores en cancha; -->
    <div class="jugadores-en-campo">
      <div class="jugador-en-campo" *ngFor="let jugador of jugadoresEnCancha">
        <div class="jugador-en-campo__nombre">
          <p>{{ jugador.jugador }}</p>
        </div>
        <div class="jugador-en-campo__eliminar">
          <button (click)="posicionarEnBanca(jugador.jugador)">Eliminar</button>
        </div>
      </div>
      <span class="mensaje-estilo" *ngIf="mensajeJugadorBanca">{{ mensajeJugadorBanca }}</span> <!-- Muestra el mensaje si existe -->
    </div>

  </div>



  <div *ngIf="jugadoresDeEquipoNoEnPartido.length != 0">
    <h2>Agregar Jugadores del equipo al Partido</h2>

      <form>

        <mat-form-field>
          <mat-label>Jugadores</mat-label>
          <mat-select [(ngModel)]="selectedJugador" name="usuarioJugador">
            <mat-option *ngFor="let jugador of jugadoresDeEquipoNoEnPartido" [value]="jugador">{{ jugador }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" (click)="agregarJugadorAlPartido(selectedJugador)">Agregar Jugador</button>

      </form>
  </div>
  <span class="mensaje-estilo" *ngIf="mensajeJugadoresPartidos">{{ mensajeJugadoresPartidos }}</span> <!-- Muestra el mensaje si existe -->


  <h2>Jugadores Disponibles en el partido</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of jugadoresEnPartido">
        <td>{{ jugador.jugador }}</td>
      </tr>
    </tbody>
  </table>


