

<div class="contenedorPag">

    <header>
      <div class="cotenedorHeader">
        <h2>Partido</h2>
        <h2>{{equipo1}} VS {{equipo2}}</h2>
      </div>
    </header>


<div class="contenedorPrincipal">

  <div class="contenedorJugadresCampo">

    <div class="contenedorAgregarJugadoresCampo">
      <div *ngIf="jugadoresEnCancha.length < 5">

        <h2>Agregar Jugadores al Campo</h2>

        <div class="seleccionar-jugador">
          <mat-form-field>
            <mat-label>Jugadores</mat-label>
            <mat-select [(ngModel)]="jugadorSeleccionado">
              <mat-option *ngFor="let jugador of jugadoresEnBanca" [value]="jugador.jugador">{{ jugador.jugador }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="btn boton" (click)="posicionarEnCancha(jugadorSeleccionado)">Agregar Jugador</button>
        </div>
        <span class="mensaje-estilo-JugadorCampo" *ngIf="mensajeJugadorCancha">{{ mensajeJugadorCancha }}</span> <!-- Muestra el mensaje si existe -->
      </div>
    </div>





    <div class="contenedorMostrarJugadoresEnCampo">
      <div *ngIf="jugadoresEnCancha.length !== 0">
        <h2>Jugadores en el Campo</h2>
        <div class="jugadores-en-campo">
          <mat-card *ngFor="let jugador of jugadoresEnCancha" class="jugador-card">
            <mat-card-content>
              <div class="jugador-en-campo__avatar">
                <mat-icon>account_circle</mat-icon> <!-- Icono de usuario -->
              </div>
              <div class="jugador-en-campo__nombre">
                <p>{{ jugador.jugador }}</p>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-icon-button (click)="posicionarEnBanca(jugador.jugador)">
                <mat-icon aria-label="Eliminar">delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <span class="mensaje-estilo" *ngIf="mensajeJugadorBanca">{{ mensajeJugadorBanca }}</span>
      </div>
    </div>


  </div>


<div class="ContenedorJugadoresPartidos">

    <div class="ContenedoragregarJugadoresPartido">
      <div *ngIf="jugadoresDeEquipoNoEnPartido.length !== 0">
          <form class="cotenedorFormulario">

            <mat-form-field>
              <mat-label>Jugadores</mat-label>
              <mat-select [(ngModel)]="selectedJugador" name="usuarioJugador">
                <mat-option *ngFor="let jugador of jugadoresDeEquipoNoEnPartido" [value]="jugador">{{ jugador }}</mat-option>
              </mat-select>
            </mat-form-field>

            <button class="btn boton" type="submit" (click)="agregarJugadorAlPartido(selectedJugador)">Agregar al Partido</button>

          </form>
      </div>
      <span class="mensaje-estilo-JugadorPartido" *ngIf="mensajeJugadoresPartidos">{{ mensajeJugadoresPartidos }}</span> <!-- Muestra el mensaje si existe -->
    </div>



    <div class="contenedorMostrarJugadoresEnPartido">
      <h2>Jugadores Disponibles en el partido</h2>
      <div class="contenedorJugadores">
        <ul>
          <li *ngFor="let jugador of jugadoresEnPartido">
            {{ jugador.jugador }}
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>



</div>

<app-footer-component></app-footer-component>
