<app-nav-bar></app-nav-bar>

<div class="contenedorPag">

  <div id="partido-en-vivo-contenedor">

    <app-marcador-partido *ngIf="nombreEquipo1 && nombreEquipo2"  [nombreEquipo1]="nombreEquipo1" [nombreEquipo2]="nombreEquipo2" [claveDelPartido]="claveDelPartido" ></app-marcador-partido>
    <section id="partido-en-vivo-contenedor-tables">
      <div class="cronometro">

        <p id="tiempo">
        <app-btn-iniciar-partido *ngIf="aribitroPuedeIniciarPartido && partidoFinalizado !== true && rol ==='ARBITRO' && usuario === usuarioArbitroAsignado" [clavePartido]="claveDelPartido" ></app-btn-iniciar-partido>
        <button *ngIf="fechaIniciPartidoArbitro && partidoFinalizado !== true && rol ==='ARBITRO' && usuario === usuarioArbitroAsignado" (click)="detenerTiempo()">detener tiempo</button>

          {{ tiempoTranscurrido }} <mat-icon>schedule</mat-icon>
        </p>
      </div>
      <div class="centrar">
      <p class="mensajeTiempos">{{mensajeTiempos}}</p>
      </div>
      <app-tabla-estadisticas-de-jugador-por-partido *ngIf="nombreEquipo1" [partidoFinalizado]="partidoFinalizado" [usuarioArbitroAsignado]="usuarioArbitroAsignado"  [nombreEquipo]="nombreEquipo1" [claveDelPartido]="claveDelPartido" [enBanca]="0"></app-tabla-estadisticas-de-jugador-por-partido>
      <app-tabla-estadisticas-de-jugador-por-partido *ngIf="nombreEquipo2" [partidoFinalizado]="partidoFinalizado" [usuarioArbitroAsignado]="usuarioArbitroAsignado" [nombreEquipo]="nombreEquipo2" [claveDelPartido]="claveDelPartido" [enBanca]="0"></app-tabla-estadisticas-de-jugador-por-partido>

    </section>

  </div>


  <div class="centrar">
    <app-finalizar-partido *ngIf="partidoFinalizado !== true && rol ==='ARBITRO' && usuario === usuarioArbitroAsignado " [clavePartido]="claveDelPartido"></app-finalizar-partido>
  </div>

</div>


<div class="contenedorFooter">
  <app-footer-component></app-footer-component>
</div>
