<div class="contest-management-container">
  <header class="banner">
    <a routerLink="/home" class="back-to-home">
      <span>&lt;</span> Back to Home
    </a>

    <div class="banner-actions">
      <button (click)="openStartTournamentDialog()" class="btn-start-tournament" *ngIf="tournament.estado === 'INACTIVA'" >
        Start Tournament
      </button>
      <button (click)="openEditTournamentModal()" class="btn-edit-tournament">
        <img src="assets/icons/edit.svg" alt="My Icon" width="16" height="16">
        Edit Tournament
      </button>
    </div>

    <div class="banner-content">
      <div class="banner-tags">
        <span class="tournament-status" [ngClass]="{
          'tournament-status-ongoing': tournamentStatus === 'Ongoing',
          'tournament-status-upcoming': tournamentStatus === 'Upcoming',
          'tournament-status-completed': tournamentStatus === 'Completed'
        }">
          {{tournamentStatus}}
        </span>
        <span class="tournament-sport-tag">
          {{tournament.sport}}
        </span>
      </div>

      <h1 class="tournament-title">{{tournament.name}}</h1>

      <div class="tournament-dates">
        <span class="date-info">
          <mat-icon>calendar_today</mat-icon>
          {{tournament.startDate | date:'MMM d, y'}} - {{tournament.endDate | date:'MMM d, y'}}
        </span>
      </div>
    </div>
  </header>


  <div class="content">
    <!-- Tabs -->
    <nav class="tabs">

      <!-- OVERVIEW -->
      <button class="tab" type="button" routerLink="overview" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }" (click)="onTabClick('overview')">
        Overview
      </button>

      <!-- BRACKET -->
      <button class="tab" type="button" routerLink="brackets" routerLinkActive="active"
        (click)="onTabClick('bracket')">
        Bracket
      </button>

      <!-- TEAMS -->
      <button class="tab" type="button" routerLink="participants" routerLinkActive="active"
        (click)="onTabClick('participants')">
        Participants
      </button>

      <!-- MATCHES -->
      <button class="tab" type="button" routerLink="matches" routerLinkActive="active"
        (click)="onTabClick('matches')">
        Matches
      </button>

      <!-- STATISTICS -->
      <button class="tab" type="button" routerLink="statistics" routerLinkActive="active"
        (click)="onTabClick('statistics')">
        Statistics
      </button>

      <!-- REGISTRATION -->
      <button class="tab" type="button" routerLink="registration" routerLinkActive="active"
        (click)="onTabClick('registration')">
        Registration
      </button>

      <!-- ADMIN -->
      <button class="tab" type="button" routerLink="admin" routerLinkActive="active"
        (click)="onTabClick('admin')">
        Admin
      </button>

    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
