


<app-nav-bar></app-nav-bar>

<h2>Arbitros</h2>
<button (click)="openDialogArbitros()">Agregar Arbitro</button>


<div *ngFor="let arbitro of arbitrosTemp">
  <p>{{ arbitro.usuario }}</p>

  <div *ngIf="estadoTemporada === 'INACTIVA'">
    <button (click)="eliminarArbitroTemp(this.idTemporada, this.arbitro.usuario)">Eliminar</button>
  </div>

</div>

<div *ngIf="arbitrosTemp.length === 0">
  <p>{{this.mensajeArbitros}}</p>
</div>



<h2>Equipos</h2>

<!-- Botón para agregar equipo si hay menos de 8 equipos -->
<div *ngIf="cantidadEquipos < 8">
  <button (click)="openDialogEquipos()">Agregar Equipo</button>
</div>

<!-- Lista de equipos -->
<div *ngFor="let equipo of equiposTempList">
  <p>{{ equipo.nombreEquipo }}</p>

  <!-- Botón de eliminación solo si la temporada está inactiva -->
  <div *ngIf="estadoTemporada === 'INACTIVA'">
    <button (click)="eliminarEquipoTemp(idTemporada, equipo.nombreEquipo)">Eliminar</button>
  </div>
</div>

<!-- Mensaje si no hay equipos en la lista -->
<div *ngIf="equiposTempList.length === 0">
  <p>{{ mensajeEquipos }}</p>
</div>


<h2>Estado de la Temporada</h2>

<p>Estado: {{this.estadoTemporada}}</p>


<h2>Generar Partidos</h2>
<button (click)="generarPartidos(this.idTemporada)">Generar Partidos</button>

<p>{{this.mensajePartidos}}</p>
