


<app-nav-bar></app-nav-bar>

<h2>Arbitros</h2>

<div *ngIf="estadoTemporada === 'INACTIVA' || 'ACTIVA'  ">
  <button (click)="openDialogArbitros()">Agregar Arbitro</button>
</div>

<div *ngFor="let arbitro of arbitrosTemp">
  <p>{{ arbitro.usuario }}</p>

  <div *ngIf="estadoTemporada == 'INACTIVA'">
    <button (click)="eliminarArbitroTemp(this.idTemporada, this.arbitro.usuario)">Eliminar</button>
  </div>

</div>

<div *ngIf="arbitrosTemp.length === 0">
  <p>{{this.mensajeArbitros}}</p>
</div>



<h2>Equipos</h2>

<div *ngIf="estadoTemporada === 'INACTIVA'">
<!-- Botón para agregar equipo si hay menos de 8 equipos -->
  <div *ngIf="cantidadEquipos < 8">
    <button (click)="openDialogEquipos()">Agregar Equipo</button>
  </div>
</div>

<!-- Lista de equipos -->
<div *ngFor="let equipo of equiposTempList">
  <p>{{ equipo.nombreEquipo }}</p>

  <!-- Botón de eliminación solo si la temporada está inactiva -->
  <div *ngIf="estadoTemporada == 'INACTIVA'">
    <button (click)="eliminarEquipoTemp(idTemporada, equipo.nombreEquipo)">Eliminar</button>
  </div>
</div>

<!-- Mensaje si no hay equipos en la lista -->
<div *ngIf="equiposTempList.length === 0">
  <p>{{ mensajeEquipos }}</p>
</div>


<h2>Estado de la Temporada</h2>

<p>Estado: {{this.estadoTemporada}}</p>


<h2>Generar Partidos</h2>

<div *ngIf="estadoTemporada === 'INACTIVA' || 'ACTIVA'  ">
  <button (click)="generarPartidos(this.idTemporada)">Generar Partidos</button>
</div>

<p>{{this.mensajePartidos}}</p>

<!-- muestra los partidos -->
<table>
  <thead>
    <tr>
      <th>Arbitro</th>
      <th>Equipo 1</th>
      <th>Equipo 2</th>
      <th>Fecha de Inicio</th>
      <th>Ganador</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partidoTemporada of partidosTemporada">
      <td>{{ partidoTemporada.arbitro }}
        <div *ngIf="partidoTemporada.ganador === 'Sin concluir'  ">
          <button (click)="agregarArbitroPartido(partidoTemporada.idPartido)">Agregar Arbitro</button>
        </div>
      </td>
      <td>{{ partidoTemporada.equipo1 }}</td>
      <td>{{ partidoTemporada.equipo2 }}</td>
      <td>{{ partidoTemporada.fechaInicio | date:'dd/MM/yyyy HH:mm:ss' }}
        <div *ngIf="partidoTemporada.ganador === 'Sin concluir'  ">
          <button (click)="agregarFechaPartido(partidoTemporada.idPartido)">Agregar Fecha</button>
        </div>
      </td>
      <td>{{ partidoTemporada.ganador }}</td>
    </tr>
  </tbody>
</table>
