

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}








/* Estilos personalizados para todas las tarjetas */
.card {
  border-radius: 7%; /* Hace que las tarjetas sean cuadradas */
  max-width: 300px; /* Establece un ancho máximo para las tarjetas */
  flex: 0 0 calc(33.33% - 50px); /* Ancho para que haya 3 tarjetas por fila, con un margen de 20px */
  margin-right: 50px; /* Aumenta la separación entre las tarjetas */
  margin-bottom: 50px; /* Aumenta la separación entre las tarjetas */
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}




.card-title {
  font-size: 1.25rem; /* Tamaño de fuente del título */
  font-weight: 500; /* Establece el grosor de la fuente del título */
  margin-bottom: 15px; /* Elimina el margen inferior del título */
  /* centralo */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

/* Estilos personalizados para la lista de temporadas */
.fecha-list {
  max-height: 200px; /* Altura máxima de la lista */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  background-color: #FFFFFF;
}


.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center; /* Centra verticalmente las filas de tarjetas */
  max-width: 1000px; /* Aumenta el ancho del contenedor */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
}

.fecha {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
  padding: 13px 0; /* Agrega un poco de espacio alrededor del texto */
  border-radius: 10px;
  color: #080708;
  background-color: #d9d9d9;
  border: none;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.entrarPartido{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%; /* Asegura que el botón ocupe todo el ancho disponible */
  padding: 10px 0; /* Agrega un poco de espacio alrededor del texto */
  border-radius: 10px;
  color: #080708;
  background-color: #F26419;
}
  /* cuando le di click que se ponga un color mas claro */
  .entrarPartido:active {
    /* un color naranja mas bajito */
    background-color: #f97d3a;
  }

.btn-desahabilitado{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
  padding: 10px 0; /* Agrega un poco de espacio alrededor del texto */
  border-radius: 10px;
  color: #080708;
  background-color: #F26419;
  cursor: not-allowed;
}
.btn-desahabilitado:active{
  background-color: #F26419;
  color: #080708;
}

/* Estilos para el mensaje de "No hay ligas asignadas" */
.ng-if-message {
  font-size: 1.6rem; /* Tamaño de fuente del mensaje */
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 20px; /* Espacio superior */
  color: #080708; /* Color del texto (puedes ajustarlo según tus preferencias) */
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px 15px;
  padding-bottom: 0%;
}



.contenedorPag {
  min-height: 100vh; /* Asegura que la altura sea al menos del 100% del viewport */
  background-color: #d9d9d9;
}


.contenedorTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según tus preferencias */
  margin-top: 60px; /* Aumenta el espacio superior */
  padding: none;
}

.tituloEquipo {
  font-size: 1.5rem; /* Tamaño de fuente del título */
  font-weight: 500; /* Establece el grosor de la fuente del título */
  margin-bottom: 15px; /* Elimina el margen inferior del título */
  color: #080708;
}

.btnDerecha {
  margin-left: auto;
  width: 14%;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  height: 15px;
}





/* Tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Espaciado superior */
}

/* Encabezado de la tabla */
.table th, .table td {
  border: 1px solid #ddd; /* Borde de las celdas */
  padding: 8px;
  text-align: left;
}

/* Resaltar la primera fila (encabezado) */
.table th {
  background-color: #f2f2f2;

}

/* Estilo para las filas impares */
.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;

}

/* Estilo para las filas pares */
.table tbody tr:nth-child(even) {
  background-color: #fff;
}

.contenedorTabla{
  width:50%;
  /* centralo */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contenedorPag{
  width: 100%;
  /* centralo */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.table{
  width: 60%;
  /* centralo */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
