
<mat-dialog-content>
  <header>
    <h1>Agendar Partido</h1>
  </header>

  <form>


    <mat-form-field>
      <label for="Fecha">Fecha</label>
      <input matInput [matDatepicker]="picker" name="fechaPartido" id="fechaPartido" [(ngModel)]="fechaPartido">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field>
      <label for="hora">Hora</label>
      <input matInput type="time" [(ngModel)]="horaPartido" name="horaPartido">
    </mat-form-field>

    <span class="mensaje-estilo" *ngIf="mensaje">{{ mensaje }}</span> <!-- Muestra el mensaje si existe -->

    <button type="submit" (click)="agendarPartido(idPartido, fechaPartido, horaPartido)">Guardar</button>
  </form>

</mat-dialog-content>
