.centradoFlex{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.boton{
  background-color: #F26419; /* Color de fondo del botón */
  color: #080708; /* Color de texto del botón */
  padding: 10px 20px; /* Ajusta el espaciado interno del botón */
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
  margin-top: 20px; /* Aumenta el espacio superior del botón */
  margin-bottom: 20px; /* Aumenta el espacio inferior del botón */
  width: 60%;
}

.titulo{
  font-size: 30px;
  margin: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.tituloCentrado{
  text-align: center;
}

mat-dialog-content header h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #FFF8F0;
}

mat-dialog-content label{
  color: #080708;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #48494A;
  border: 1px solid #48494A;
}
