.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #FFF8F0;
  width: 40%;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}
.contenedorPag {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}




.contenedorLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

input{
  margin-top: 10px;
}

.contenedorImagen{
  display: flex;
  flex-direction: column;
  background-color: #FFF8F0;
  align-items: center;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

img{
  color: #FFF8F0;
}

.contenedorPag {
  min-height: 100vh; /* Asegura que la altura sea al menos del 100% del viewport */
  background-color: #d9d9d9;
}

.registrarse{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  gap: 10px;
}

.boton{
  margin-top: 15px;
  background-color: #F26419; /* Color de fondo */
  color: #080708; /* Color del texto */
  border: none;
  border-radius: 10px;
  padding: 10px 20px; /* Ajusta el padding para hacerlo más grande */
  cursor: pointer;
  height: 45px;
  font-size: 1rem; /* Tamaño de fuente más grande */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}



.registrarse {
  text-align: center;
  margin-top: 20px;
}

.registrarse a {
  color: #080708;
  text-decoration: none;
  font-weight: 500;
}


.inputLogin{
  border-radius: 10px;
  background-color: #d9d9d9;
  padding: 10px;
  width: 90%;
  height: 50px;
  border: none;
}

.errorif{
  color: 080708;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
