
<div class="contenedorPag">


    <div class="contenedorPrincipal">

      <form>
        <div class="contenedorImagen">
          <img class="imagenLogo" src="../../../../assets/imgs/blanco.png" alt="logo">
        </div>


        <div class="contenedorLogin">

          <input class="inputLogin" type="text" id="username" name="username" placeholder="Nombre de Usuario" [(ngModel)]="creds.usuario" />

          <input class="inputLogin" type="password" id="password" name="password"  placeholder="Password"  [(ngModel)]="creds.password" />

          <button type="submit" class="boton btn" (click)="login()">Iniciar Sesion</button>


          <div class="registrarse">
            <p>¿No estas Registrado?</p>
            <a href="/register">Crear Cuenta</a>
          </div>
          <div class="errorif" *ngIf="error">
            <p>{{ error }}</p>
          </div>

        </div>

      </form>

    </div>




  </div>
<app-footer-component></app-footer-component>
