<mat-dialog-actions>
  <button mat-raised-button (click)="openDialog()">Crear Liga</button>
</mat-dialog-actions>

<div *ngIf="ligasAsignadas === 0">
  <p>No hay ligas asignadas</p>
</div>

<div *ngIf="ligasAdministrador.length > 0">
  <ul>
    <li *ngFor="let liga of ligasAdministrador; let i = index">
      <p>Liga</p>
      <!-- {{ i }} -->
      <ul>
        <!-- <li>ID Liga: {{ liga.idLiga }}</li> -->
        <button (click)="openDialogModificarLiga(liga.idLiga, liga.nombreLiga)">{{ liga.nombreLiga }}</button>
        <!-- <li>Nombre Liga: {{ liga.nombreLiga }}</li> -->
        <li>Temporadas:</li>
        <ul>
          <li *ngFor="let temporada of temporadasPorLiga[liga.idLiga]; let j = index">
            <!-- {{ j }} -->
            <ul>
              <button (click)="verTemporada(temporada.idTemporada)">{{ temporada.nombreTemporada }}</button>
            </ul>
          </li>
        </ul>
      </ul>
    </li>
  </ul>
</div>
