<mat-dialog-content>
  <header>
    <h1>Agregar Equipo</h1>
  </header>

  <form>

    <mat-form-field>
      <mat-label>Equipo</mat-label>
      <mat-select [(ngModel)]="selectedEquipo" name="nombreEquipo">
        <mat-option *ngFor="let equipo of equipos" [value]="equipo">{{ equipo }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="mensaje-estilo" *ngIf="mensaje">{{ mensaje }}</span> <!-- Muestra el mensaje si existe -->
    <button type="submit" (click)="agregarEquipoTemp(this.temporadaId, this.selectedEquipo)">Guardar</button>
  </form>

</mat-dialog-content>
