<mat-dialog-content>
  <header class="header">
    <div class="title">
      <h2>Create New Team </h2>
      <mat-icon class="close-icon" mat-dialog-close>close</mat-icon>
    </div>
    <span>Fill in the details to create a new team for your tournament.</span>
  </header>

  <form [formGroup]="addTeamForm" (ngSubmit)="addTeam()">

    <app-input [control]="addTeamForm.controls.name" placeholder="Enter name" label="Team Name"></app-input>
    <app-input [control]="addTeamForm.controls.logo" placeholder="https://example.com/logo.png"
      label="Team Logo URL"></app-input>

    <div class="buttons mt-4 d-flex justify-content-end gap-2">
      <button type="button" class="cancel-btn" mat-dialog-close>Cancel</button>
      <app-button  [isDisabled]="addTeamForm.invalid"  type="submit" (click)="addTeam()" text="Create Team" />
    </div>
  </form>

</mat-dialog-content>
