/*  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.close-icon {
  cursor: pointer;
  color: #020817;
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.header .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .title h2 {
  margin: 0;
}

span {
  font-size: 14px;
  color: #64748b;
  font-weight: 400;
}

/* Estilos para el formulario */
mat-dialog-content form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 0.9rem;
  /* Aumenta el espacio inferior del formulario */
}

form>* {
  margin-top: 13px;
}


/* Estilos para el fondo y borde del componente */
mat-dialog-content {
  background-color: #f7f7f5;
  /* Color de fondo del componente */
}
