

<div class="contenedorPag">
  <div class="contenedorTodo">
    <h1 class="titulo">Políticas de Privacidad</h1>

    <p class="parrafo">
      En BBTeams, nos tomamos muy en serio la privacidad de nuestros usuarios.
      Esta política describe cómo recopilamos, utilizamos y protegemos la información que proporcionas al utilizar nuestro servicio.
      Al acceder y utilizar nuestros servicios, aceptas las prácticas descritas en esta política.
    </p>

    <h2 class="subtitulo">Recopilación de Información</h2>

    <p class="parrafo">
      Recopilamos información cuando te registras en nuestro sitio, participas en un torneo, interactúas con nuestras redes sociales o nos contactas directamente. La información recopilada puede incluir tu nombre, dirección de correo electrónico, información de contacto y otros datos relevantes.
    </p>

    <h2 class="subtitulo">Uso de la Información</h2>

    <p class="parrafo">
      Utilizamos la información recopilada para personalizar tu experiencia, procesar inscripciones en torneos, mejorar nuestros servicios y enviar actualizaciones relevantes. No compartiremos tu información con terceros sin tu consentimiento, excepto en las situaciones descritas en esta política.
    </p>

    <h2 class="subtitulo">Cookies</h2>

    <p class="parrafo">
      Utilizamos cookies y tecnologías similares para mejorar tu experiencia en nuestro sitio. Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo para recordar tus preferencias y brindar una experiencia personalizada. Puedes gestionar las preferencias de cookies en la configuración de tu navegador.
    </p>

    <h2 class="subtitulo">Seguridad</h2>

    <p class="parrafo">
      Implementamos medidas de seguridad para proteger tu información contra accesos no autorizados, uso indebido o divulgación. A pesar de nuestros esfuerzos, ninguna transmisión de datos por internet o sistema de almacenamiento puede garantizar seguridad absoluta. Te recomendamos tomar precauciones adicionales al compartir información en línea.
    </p>

  </div>



</div>

<app-footer-component></app-footer-component>
