<div class="select-teams-container">
  <header class="header">
    <div class="title">
      <h2>Add teams</h2>
      <span>Add teams to your tournament.</span>
    </div>
  </header>
  <div class="search-container d-flex justify-content-end">

    <!-- <app-input class="search-input" [control]="search" placeholder="Search teams..." /> -->
    <app-button matIconLeft="add" (click)="addTeam()" text="New Team" />
  </div>

  <section class="teams" *ngIf="(selectTeams.value.teams?.length ?? 0) > 0">
    <div class="team-card-container" *ngFor="let team of selectTeams.value.teams;let i = index">
      <img src="https://i.pravatar.cc/150?u=team1" class="team-image" width="56px" height="56px" />
      <div class="team-info d-flex align-items-center justify-content-between">
        <p class="team-name">{{team.name}}</p>
        <section class="actions-container">
          <div class="action">
            <button mat-icon-button (click)="editTeam(team)" title="Edit Team">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="action">
            <button mat-icon-button (click)="removeTeam(i)" title="Remove Team">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </section>
      </div>
    </div>
  </section>

</div>
