<div class="select-teams-container">
  <header class="header">
    <div class="title">
      <h2>Select teams</h2>
      <span>Add teams to your tournament. You can invite new teams or select from existing ones.</span>
    </div>
  </header>
  <div class="search-container">
    <app-input class="search-input" [control]="search" placeholder="Search teams..." />
    <app-button matIcon="add" (click)="addTeam()" text="New Team" />
  </div>

  <section class="teams">
    <div class="team-card-container" *ngFor="let team of selectTeams.value.teams">
      <img src="https://i.pravatar.cc/150?u=team1" class="team-image" width="56px" height="56px" />
      <div class="team-info">
        <p class="team-name">{{team.name}}</p>
        <span class="team-members">12 members</span>
        <section class="stats-container">
          <div class="stat">
            <span>Wins</span>
            <p>8</p>
          </div>
          <div class="stat">
            <span>Losses</span>
            <p>2</p>
          </div>
          <div class="stat">
            <span>Win Rate</span>
            <p>80%</p>
          </div>
        </section>
      </div>
    </div>
  </section>

  <div class="selected-teams">
    <header class="d-flex">
      <mat-icon>people_alt</mat-icon>
      <h3>Selected Teams</h3>
    </header>
    <span *ngIf="selectTeams.value.teams?.length === 0">No teams selected. Please select at least 2 teams to
      continue.</span>
    <div class="tags-container">
      <div class="selected-team-tag" *ngFor="let team of selectTeams.value.teams">
        <p>{{ team.name }}</p>
        <mat-icon class="close-icon" (click)="removeTeam(team)">close</mat-icon>
      </div>
    </div>
  </div>


</div>
