<!-- tournaments.component.html -->
<!-- Banner -->

<div class="home-content">

  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Organize &amp; Compete in Tournaments</h1>
      <p class="hero-subtitle">
        Create, manage, and participate in tournaments with real-time brackets,
        team management, and detailed statistics.
      </p>
      <div class="hero-actions">
        <app-button matIconLeft="add" type="button" (click)="goToCreateTournament()" text="Create Tournament" />
      </div>
    </div>
  </section>

  <!-- Tournament List Header -->
  <div class="list-header">
    <h2 class="list-title">Tournaments</h2>
    <div class="list-controls">
      <input type="text" class="search-input" [(ngModel)]="search"  placeholder="🔍 Search tournaments…" />
      <a class="view-all" routerLink="/tournaments">View all</a>
      <button class="btn btn-outline">Filters ⚙️</button>
    </div>
  </div>

  <!-- Tabs -->
  <nav class="tabs">
    <button class="tab active">All</button>
    <button class="tab">Upcoming</button>
    <button class="tab">Ongoing</button>
    <button class="tab">Completed</button>
  </nav>
  <!-- LIST OF THE TOURNAMENTS AVAILABLE IN THE PLATFORM -->
   <app-tournament-list [search]="search" />
  <app-footer-component></app-footer-component>
</div>
