<!-- tournaments.component.html -->
<!-- Banner -->

<div class="home-content">

  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Organize &amp; Compete in Tournaments</h1>
      <p class="hero-subtitle">
        Create, manage, and participate in tournaments with real-time brackets,
        team management, and detailed statistics.
      </p>
      <div class="hero-actions">
        <app-button matIconLeft="add" type="button" (click)="goToCreateTournament()" text="Create Tournament" />
      </div>
    </div>
  </section>

  <!-- Tournament List Header -->
  <div class="list-header">
    <h2 class="list-title">Tournaments</h2>
    <div class="list-controls">
      <div class="search-container">
        <app-input type="text" [control]="search" placeholder="Search tournaments…" />
      </div>
      <button class="btn btn-outline">Filters ⚙️</button>
    </div>
  </div>

  <!-- Tabs -->
  <nav class="tabs">

    <!-- ALL -->
    <button class="tab" type="button" routerLink="." [queryParams]="{ status: null }"
      routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true, queryParams: 'exact' }" (click)="onStatusClick('')">
      All
    </button>

    <!-- UPCOMING -->
    <button class="tab" type="button" routerLink="." [queryParams]="{ status: 'upcoming' }"
      routerLinkActive="active" (click)="onStatusClick('upcoming')">
      Upcoming
    </button>

    <!-- ONGOING -->
    <button class="tab" type="button" routerLink="." [queryParams]="{ status: 'ongoing' }"
      routerLinkActive="active" (click)="onStatusClick('ongoing')">
      Ongoing
    </button>

    <!-- COMPLETED -->
    <button class="tab" type="button" routerLink="." [queryParams]="{ status: 'completed' }"
      routerLinkActive="active" (click)="onStatusClick('completed')">
      Completed
    </button>

  </nav>

  <!-- LIST OF THE TOURNAMENTS AVAILABLE IN THE PLATFORM -->
  <app-tournament-list [search]="search.value" [status]="status" />
  <app-footer-component></app-footer-component>
</div>
