
<app-nav-bar></app-nav-bar>


<div>

  <div *ngIf="tipoUsuario === 'ADMIN_LIGA'">
    <app-home-admin-ligas></app-home-admin-ligas>
  </div>

  <div *ngIf="tipoUsuario === 'ADMIN_EQUIPO'">
    <app-home-admin-equipo></app-home-admin-equipo>
  </div>

  <div *ngIf="tipoUsuario === 'JUGADOR'">
    <app-home-jugador></app-home-jugador>
  </div>

  <div *ngIf="tipoUsuario === 'ANONIMO'">
    <app-home-anonimo></app-home-anonimo>
  </div>

  <div *ngIf="tipoUsuario === 'ARBITRO'">
    <app-home-arbitro></app-home-arbitro>
  </div>

</div>

<app-footer-component></app-footer-component>
