<mat-dialog-content>
  <header>
    <h1>Crear Temporada</h1>
  </header>

  <form>
    <mat-form-field>
      <label for="nombreTemporada">Nombre de la Temporada</label>
      <input type="text" name="nombreTemporada" id="nombreTemporada" [(ngModel)]="temporada.nombreTemporada" matInput>
    </mat-form-field>

    <mat-form-field>
      <label for="fechaInicio">Fecha de Inicio</label>
      <input matInput [matDatepicker]="picker" name="fechaInicio" id="fechaInicio" [(ngModel)]="temporada.fechaInicio">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <label for="fechaTermino">Fecha de Fin</label>
      <input matInput [matDatepicker]="pickerFin" name="fechaTermino" id="fechaTermino" [(ngModel)]="temporada.fechaTermino" >
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <label for="categoria">Categoría</label>
      <mat-select name="categoria" id="categoria" [(ngModel)]="temporada.categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <label for="rama">Ramas</label>
      <mat-select name="rama" id="rama" [(ngModel)]="temporada.rama">
        <mat-option *ngFor="let rama of ramas" [value]="rama">{{rama}}</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="mensaje-estilo" *ngIf="mensaje">{{ mensaje }}</span> <!-- Muestra el mensaje si existe -->

    <button type="submit" (click)="crearTemporada()">Crear Temporada</button>
  </form>

</mat-dialog-content>

