

mat-dialog-content header h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #FFF8F0;
}

/* Estilos para los mensajes de resultado */
mat-dialog-content button[type="submit"] {
  background-color: #F26419; /* Color de fondo del botón */
  color: #080708; /* Color de texto del botón */
  padding: 10px 20px; /* Ajusta el espaciado interno del botón */
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
  margin-top: 20px; /* Aumenta el espacio superior del botón */
  margin-bottom: 20px; /* Aumenta el espacio inferior del botón */
  width: 60%;
}

.mensaje-estilo {
  color: #080708; /* Color del texto del mensaje */
  font-size: 1rem; /* Tamaño de fuente del mensaje */
  text-align: center; /* Alineación del texto */
  margin-top: 20px; /* Espacio superior */
  font-weight: bold;
  text-transform: uppercase;

}

mat-dialog-content {
  background-color: #48494A;
  border: 1px solid #48494A;
  height: 700px; /* Establece la altura del cuadro de diálogo */
}

/* Estilos para el formulario */
mat-dialog-content form {
  display: flex;
  flex-direction: column; /* Apila los elementos uno sobre otro */
  align-items: center;
  margin-top: 20px; /* Aumenta el espacio superior del formulario */
  margin-bottom: 20px; /* Aumenta el espacio inferior del formulario */
}


.amplio-input{
  width: 100%;
}
