<app-nav-bar></app-nav-bar>

<div class="contenedorPag">
  <div class="contenedorTitulo">
    <h2>{{texto}}</h2>
  </div>

  <div class="contenedorBtn">
  <button class="btn btnNuevo" (click)="verRanking(temporadaId)" >Ver Ranking Jugadores</button>
</div>


  <div class="contenedorTabla">
    <table class="table">
      <thead>
        <tr>
          <th>Posición</th>
          <th>Equipo</th>
          <th>Partidos Jugados</th>
          <th>Partidos Ganados</th>
          <th>Partidos Perdidos</th>
          <th>Total de Puntos</th>
          <th>Estadisticas de la temporada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equiposRanking; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ equipo.nombreEquipo }}</td>
          <td>{{ equipo.jugados }}</td>
          <td>{{ equipo.ganados }}</td>
          <td>{{ equipo.perdidos }}</td>
          <td>{{ equipo.puntosTemporada }}</td>
          <td>
            <button class="btn entrarPartido" (click)="verEstadisticas(temporadaId, equipo.nombreEquipo)">Ver estadísticas</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

<app-footer-component></app-footer-component>
