<div class="contenedor">
    <h3 class="partido-en-vivo-contenedor-nombre-equipo">{{nombreEquipo}}</h3>

    
    <table mat-table [dataSource]="tableDataSource" class="contenedor-table">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
        <td mat-cell *matCellDef="let element">

          <div id="contenedor-table-estadistica-valor" >
            {{ element[column] }}

          </div>
          <button *ngIf="column == 'jugador'" (click)="agregarPuntoDeJugador(element['jugador'], column)">-</button>
          <!-- muestra un boton si column ==Jugador  en caso contrario muestra otro-->
          
          <button *ngIf="column !== 'jugador'" (click)="agregarPuntoDeJugador(element['jugador'], column)">+</button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
