<div class="page-container">
  <h1 class="title">Tourney TreeHouse </h1>
  <div class="text-gray mb-4">Sign in to your account</div>
  <form class="auth-form" [formGroup]="signInForm" (ngSubmit)="login()">
    <!-- Logo Section -->
    <div class="auth-form__title">
      <h2>Welcome Back</h2>
      <span class="text-gray">Enter your credentials to access your account</span>
    </div>

    <!-- Input Fields -->
    <app-input [control]="signInForm.controls.email" class="auth-form__input"
      [label]="'Email'" [placeholder]="'Enter your email'">
    </app-input>

    <app-input [control]="signInForm.controls.password" class="auth-form__input"
      [label]="'Password'" [placeholder]="'Enter your password'" type="password"/>

      <span *ngIf="signInForm.errors?.['invalidCredentials']" class="full-width mb-2 error-message">
        Invalid credentials. Please try again.
      </span>

    <!-- Submit Button -->
    <app-button [type]="'submit'" [text]="'Sign In'" [isFullWidth]="true" />

    <!-- Register Section -->
    <div class="auth-form__register">
      <p class="auth-form__register-text">Don't have an account?</p>
      <a routerLink="/signup" class="auth-form__register-link">Create Account</a>
    </div>

  </form>
</div>
