/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-icon {
    font-family: 'Material Icons Outlined' !important;
}
*{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
}

.full-width {
  width: 100%;
}

.mat-expansion-panel-body{
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.mat-expansion-indicator{
    display: flex;
}
.mat-mdc-dialog-container .mdc-dialog__content{
  color: #000000  !important; /* Color del texto del contenido */
}

h1,h2,h3,h4,h5{
  color: #000000; /* Color del texto del encabezado */
}


/* add team dialog */
.add-team-dialog {
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1025px) {
  .add-team-dialog{
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .add-team-dialog{
    max-width: 90% !important;
    width: 100%;
  }
}


