<mat-dialog-content>
  <header>
    <h1>Jugadores</h1>
  </header>

  <form>

    <mat-form-field>
      <mat-label>Jugadores</mat-label>
      <mat-select [(ngModel)]="selectedJugador" name="usuarioJugador">
        <mat-option *ngFor="let jugadorUsuario of jugadoresUsuario" [value]="jugadorUsuario">{{ jugadorUsuario }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Posicion</mat-label>
      <input type="text" name="posicion" id="posicion" [(ngModel)]="jugadorNuevo.posicion" matInput>
    </mat-form-field>

    <span class="mensaje-estilo" *ngIf="mensaje">{{ mensaje }}</span> <!-- Muestra el mensaje si existe -->
    <button type="submit" (click)="agregarJugador(selectedJugador, jugadorNuevo.posicion)">Agregar Jugador</button>
  </form>

  <h2>Jugadores en el Equipo</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Posicion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of jugadoresEnEquipo">
        <td>{{ jugador.usuario }}</td> <!-- Cambiado de 'nombre' a 'usuario' -->
        <td>{{ jugador.posicion }}</td>
        <td>
          <button (click)="eliminarJugador(jugador.usuario)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>


</mat-dialog-content>
