<mat-dialog-content>
  <header>
    <h1>Agregar Arbitro</h1>
  </header>

  <form>

    <mat-form-field>
      <mat-label>Arbitro</mat-label>
      <mat-select [(ngModel)]="selectedArbitro" name="usuarioArbitro">
        <mat-option *ngFor="let arbitro of arbitros" [value]="arbitro">{{ arbitro }}</mat-option>
      </mat-select>
    </mat-form-field>
    <span class="mensaje-estilo" *ngIf="mensaje">{{ mensaje }}</span> <!-- Muestra el mensaje si existe -->
    <button type="submit" (click)="asignarArbitroTemp(this.idTemporada, this.selectedArbitro)">Guardar</button>
  </form>

</mat-dialog-content>
