<div class="contenedorPag">

  <div class="contenedorPrincipal">

    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
      <div class="contenedorImagen">
        <img class="imagenLogo" src="../../../../assets/imgs/blanco.png" alt="logo">
      </div>

      <div class="contenedorLogin">

        <input type="text" id="username" name="usuario" placeholder="Nombre de Usuario" formControlName="usuario" />

        <input type="text" id="name" name="nombre" placeholder="Nombre" formControlName="nombre" />

        <input type="text" id="apellido" name="apellido" placeholder="Apellidos" formControlName="apellido" />
        <input type="email" id="email" name="email" placeholder="Email" formControlName="email" />


        <input type="password" id="password" name="password" placeholder="Password" formControlName="password" />

        <input type="password" id="password2" name="password2" placeholder="Repetir Contraseña" [formControl]="repeatedPassword" />

        <label for="user">Tipo de Usuario:</label>
        <select id="user" name="rol" formControlName="rol">
          <option value="ADMIN_LIGA">Administrador de Liga</option>
          <option value="JUGADOR">Jugador</option>
          <option value="ADMIN_EQUIPO">Administrador de Equipo</option>
          <option value="ARBITRO">Arbitro</option>
        </select>

        <button type="submit" class="boton btn">Sign Up</button>

        <div class="registrarse">
          <p>¿Ya tienes una cuenta?</p>
          <a href="/login">Iniciar Sesion</a>
        </div>
        <div class="errorif" *ngIf="error">
          <p>{{ error }}</p>
        </div>

      </div>
    </form>

  </div>



</div>

<app-footer-component></app-footer-component>